.proyect {
  padding: 2rem 1rem;
  margin: 0rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @media(max-width: 1024px) {
    flex-wrap: wrap;
    margin: 0;
  }

  .technologies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0px 45px 0px;

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  .proyect-image-container {
    .carousel-root {
      .carousel-slider {
        .slider-wrapper {
          border-radius: 15px;
          img {
            border-radius: 15px;
          }
        }
        .control-arrow, .control-arrow:hover {
            background-color: #000;
            opacity: .4;
            transform: unset;
            height: 50%;
            top: 25%;
            border-radius: 15px;
        }
      }
    }
  }
}
