.contact-container {
  padding: 2rem 1rem;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 20px;
  }

  .contact-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    height: fit-content;

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  .email-container {
    .email-form-container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 15px;

      .MuiFormControl-root {
        border-radius: 15px;

        .css-113d811-MuiFormLabel-root-MuiInputLabel-root {
          background-color: var(--text-color);
          color: var(--text-color-invert);
          border-radius: 9px;
          padding: 1px 15px;
        }

        .MuiInputBase-root {
          border-radius: 15px;

          .css-1ll44ll-MuiOutlinedInput-notchedOutline {
            padding: 0 15px;
          }
        }
      }
    }
  }
}
