header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  gap: 20px;
  flex-wrap: wrap;

  h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;

    .dark-mode-button {
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--text-color);
      color: var(--text-color);
      cursor: pointer;
      border-radius: 40px;
      height: fit-content;
      background-color: var(--button-bg-color);
    }
  }
}
