:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #fcee21;

  --font-main: 'Inter', sans-serif;
}

[data-theme='dark'] {
  --bg-color: #222222;
  --text-color: #f5f5f5;
  --accent-color: #fcee21;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

section {
  padding: 2rem 1rem;
  max-width: 960px;
  margin: auto;
}

@media (max-width: 600px) {
  section {
    padding: 1.5rem 1rem;
  }
}
