:root {
  --bg-color: #ffffff;
  --button-bg-color: #ffffff;
  --button-box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  --text-color: #000000;
  --text-color-invert: #fff;
  --accent-color: #fcee21;

  --font-main: "Inter", sans-serif;
}

[data-theme="dark"] {
  --bg-color: #000;
  --button-bg-color: #222222;
  --button-box-shadow: rgba(255, 255, 255, 0.25) 0 8px 15px;
  --text-color: #f5f5f5;
  --text-color-invert: #000000;
  --accent-color: #fcee21;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

section {
  padding: 2rem 1rem;
  max-width: 960px;
  margin: auto;
}

h1 {
  margin: 1rem 1rem;
}

@media (max-width: 600px) {
  section {
    padding: 1.5rem 1rem;
  }
}
